body {
	font-family: 'Roboto', sans serif;
	background-color: rgb(230, 230, 230);
	color: rgb(30, 30, 30);
	margin: 0px;
}
.banner {
	background-image: url(Images/place2.jpg); 
	background-size: cover;
	padding: 260px 0px;
	opacity: 0.8;
}
.side {
	display: grid;
	grid-template-columns: 1fr;
}
.beg img {
    border-radius:150px;
    height: 175px;
    width: 170px;
    margin-top: -80px;
    margin-left: 160px;
    position: absolute;
}
.beg h1 {
	margin-left: 345px;
	margin-top: 5px;
	font-size: 50px;
	color: rgb(168, 115, 123);
}
.beg p {
	margin-left: 350px;
	margin-top: -30px;
	font-size: 20px;
}
.card-white {
	background-color: white;
	box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.3);
	padding: 18px;
	border-radius: 4px;
	margin: auto;
	width: 215px;
	height: 270px;
	text-align: center;
	object-fit: cover;
}
.card-white h3 {
	color: rgb(118, 158, 150);
}
.button {
	background-color: rgb(118, 158, 150);
	border-radius: 4px;
	padding: 8px 10px;
	text-decoration: none;
	color: rgb(230,230,230);
	text-align: center;
}
.linkedin {
	width:110px;
	height: 60px;
	margin: auto;
	padding: 30px;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	max-width: 1000px;
	width: 100%;
}
.footer {
	background-color: lightgrey;
	padding: 3px 0px;
	text-align: center;
	color: rgb(118, 158, 150);
	margin-top: 80px;
	font-size: 20px;
}
