body {
	font-family: 'Roboto', sans serif;
	background-color: rgb(230, 230, 230);
	color: rgb(30, 30, 30);
}
.banner {
	color: white;
	background-image:url(Images/place2.jpg); zoom: 62%; position: absolute; top: -100px;left:0px; right:0; bottom: 255px; opacity:0.5; z-index: 1;
	margin-bottom: 50px;
}
.side {
	display: grid;
	grid-template-columns: 1fr;
}
.side img {
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:150px;
    width:180px;
    height:180px;
    z-index: 10;
    position: absolute;
    display : inline-block;
    margin-left: 179px;
    margin-top: 490px;
}
.side h1 {
	margin-left: 380px;
	margin-top: 560px;
	margin-bottom: 5px;
	font-size: 50px;
	color: rgb(168, 115, 123);
}
.side p {
	margin-left: 385px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}
.card-white {
	background-color: white;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
	padding: 18px;
	border-radius: 4px;
	margin-top: 40px;
	margin-left: 40px;
	width: 215px;
	height: 270px;
	text-align: center;
	object-fit: cover;
}
.card-white h3 {
	color: rgb(118, 158, 150);
}
.card-white a {
	background-color: rgb(118, 158, 150);
	color: rgb(230,230,230);
	padding: 8px 10px;
	border-radius: 4px;
	text-decoration: none;
}
.card-white2 {
	background-color: white;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
	padding: 18px;
	border-radius: 4px;
	margin-top: 40px;
	margin-left: 40px;
	width: 215px;
	height: 270px;
	text-align: center;
	object-fit: cover;
}
.card-white2 h3 {
	color: rgb(118, 158, 150);
}
.button {
	background-color: rgb(118, 158, 150);
	border-radius: 4px;
	padding: 8px 10px;
	text-decoration: none;
	color: rgb(230,230,230);
	text-align: center;
}
.linkedin {
	display:block;
	width:110px;
	margin:0 auto;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 80px;
	margin-left: 90px;
	margin-right: 90px;
}
.footer {
	background-color: lightgrey;
	padding: 3px 0px;
	text-align: center;
	color: rgb(118, 158, 150);
	margin-top: 80px;
	font-size: 20px;
}